<div class="panel-container">
  <form [formGroup]="orderForm" novalidate (ngSubmit)="save(orderForm)">
    <h3>Items</h3> <button class="btn btn-primary" (click)="addItem()">Add Item</button>

    <div class="card" style="width: 50rem;margin: 2rem 0;" formArrayName="items"
      *ngFor="let item of getArrayControls(); let i = index;">
      <div><button style="float: right;" class="btn btn-primary"
          (click)="editItem(i)">{{ getPanelData(i)?.edit ? 'Close' : 'Edit'}}</button></div>
      <div class="card-body" [formGroupName]="i">
        <div class="form-row">
          <div class="col">
            <input [ngClass]="{'hide-inputs': !canEdit(i)}" type="text" class="form-control" placeholder="Name">
            <span *ngIf="!canEdit(i)">
              <label class="font-weight-bold" for="">Name: </label><span> {{getPanelData(i)?.name}}</span>
            </span>
          </div>
          <div class="col">
            <input [ngClass]="{'hide-inputs': !canEdit(i)}" type="text" class="form-control" placeholder="Environment">
            <span *ngIf="!canEdit(i)">
              <label class="font-weight-bold" for="">Environment: </label><span> {{getPanelData(i)?.env}}</span>
            </span>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>